* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* kein Außenabstand*/

h1 {
    display: block;
    font-size: 60px;
    margin-top: 0.2em;
    margin-bottom: 0.05em;
    margin-left: 0;
    margin-right: 0;
    font-weight: lighter;
    color: black;
    text-align: center;
    font-family: "Javanese Text";

}

h2 {
    display: block;
    font-size: 1em;
    margin-top: 0.2em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: lighter;
    color: gray(lightness);
    text-align: center;
    font-family: "Javanese Text";
}

h3 {
    display: block;
    font-size: 1em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: lighter;
    color: #0f0f0f;
    text-align: right;
}

h4 {
    display: block;
    font-size: 0.9em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: lighter;
    color: #0f0f0f;
    text-align: left;
}

h5 {
    color: black;
    text-align: center;
    font-size: 36px;
    font-family: "Javanese Text";
}

h6 {
    display: inline;
    font-size: 0.9em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: lighter;
    color: #0f0f0f;
    text-align: left;
}

h7 {
    display: block;
    font-size: 1em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: lighter;
    color: #0f0f0f;
    text-align: center;
}

h8 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: lighter;
    color: #0f0f0f;
    text-align: left;
}

h9 {
    font-family: "calibri light";
    font-size: 24px;
    text-align: center;
}

h10{
    color: orangered;
    font-family: "Comic Sans MS";
    text-align: center;
    font-size: 30px;

}
h11 {
    display: flex;
    font-family: "calibri light";
    font-size: 24px;
}


.bg-section {
    background: rgba(0, 0, 0, .65);
    padding: 15px;
    width: 100%;
    left: 0;
}

.bg-section h5 {
    color: rgba(255, 255, 255, 1);
    font-weight: 300;
}

.bg-section p {
    color: rgba(255, 255, 255, .8);
    font-weight: 100;
}

.carousel-indicators {
    bottom: 5px;
}

.table-header {
    text-align: left;
    font-weight: 400;
}

p {
    color: #444444;
    text-align: center;
    font-size: 24px;
    font-family: "Javanese Text";
}

p1  {
    color: white;
    font-size: 16px;
    font-family: "calibri light";
}

/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

#user_icon {
    font-size: 24px;
    color: black;
}

#delete_icon {
    font-size: 24px;
    color: black;
}

#warenkorb_icon {
    font-size: 18px;
    color: #f2f2f2;
}

#pp_link {
    font-size: 18px;
    color: black;
}

#visa_icon {
    font-size: 18px;
    color: black;
}

#mc_icon {
    font-size: 18px;
    color: black;
}

#amex_icon {
     font-size: 18px;
     color: black;
 }

#card_icon {
    font-size: 18px;
    color: black;
}

#euro_icon {
    font-size: 18px;
    color: black;
}

#order {
    color: #f2f2f2;
}

#plus {
    font-size: 18px;
    color: #0f0f0f;
}

.plusSpecial {
    font-size: 18px;
    color: black !important;
    background: #ffffff !important;
}
.plusSpecial i.fas {
    color: black !important;
}

#pp-link:hover i {
    color: #009cde;
    font-size: 30px;
}

#visa-link:hover i {
    color: darkblue;
    font-size: 30px;
}

#mc-link:hover i {
    color: orange;
    font-size: 30px;
}

#amex-link:hover i {
    color: cornflowerblue;
    font-size: 30px;
}

#card-link:hover i {
    color: dodgerblue;
    font-size: 30px;
}

#euro_icon:hover i {
    color: silver;
    font-size: 30px;
}


/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 25%;
}

/* Middle column */
.column.middle {
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.table thead tr th:first-child {
    min-width: 75px;
    width: 10%;
}

.carousel-item img {
    height: 800px;
    width: 100%;
}

/*.table tbody tr td:first-child {
    font-style: italic;

}
*/
.table thead tr th:last-child {
    max-width: 75px;
    width: 10%;
}

.table thead tr th:nth-child(2) {
    max-width: 250px;
    width: 30%;
}

.table thead tr th:nth-child(3) {
    max-width: 250px;
    width: 40%;
}

.table thead tr th:nth-child(4) {
    max-width: 75px;
    width: 10%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }

    .carousel {
        height: 100px;
        width: 600px;
    }

}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;

}

.addCartBtn {
    background: transparent;
}

.addCartBtn:hover i {
    color: dimgrey !important;
}

footer {
    padding-bottom: 30px;
}
footer a{
    color: black;
    display: block;
    font-size: 12px;
    font-family: "calibri light";
}
footer a i {
    font-size: 24px;
    color: black;
}
footer a:hover {
    text-decoration: none;
    color: black;
}
footer #facebook-link:hover i {
    color: #3b5998;
}

footer #twitter-link:hover i{
    color: #1da1f2;
}
footer #instagram-link:hover i{
    color: #e1306c;
}


.Meldung {
    position: fixed;
    right: 10px;
    bottom: 10px;
    max-width: 375px;
    width: auto;
    background: rgba(5, 155, 35, .6);
    color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 8px 14px;
}
.Meldung p {
    font-size: 18px;
    color: white;
    margin-bottom: 0;
}

#iframe {
    position: absolute;
    left: 250px;
    top: 250px;
}

#canvas {
    border:2px solid #000000;
    position: absolute;
    top: 50px;
    left: 50px;
}

#euro_icon:hover {
    cursor: pointer;
}

footer a span{
    font-family: "calibri light";
    font-size: 16px;
    padding-left: 8px;
}


